:root{
  color:hsl(12, 88%, 59%)hsl(228, 39%, 23%)hsl(227, 12%, 61%)hsl(233, 12%, 13%)hsl(13, 100%, 96%)hsl(0, 0%, 98%);
}
body{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
/* header */
header{
    height:100px;
    margin:0 150px;
    align-items:center;
}
header,.sec{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration:none;
}
p{
  line-height: 25px;
  color:hsl(227, 12%, 61%);
}
header div a{
  margin:0 10px;
  color:black;
}
.btn{
  padding:10px 25px;
  border-radius:20px;
  border:0;
  background:hsl(12, 88%, 59%);
  color:white;
}

#bg1,#bg2,#bg3{
  width:550px;
  height:700px;
  background-image:url(images/bg-tablet-pattern.svg);
  background-repeat:no-repeat;
  position:relative;
  float:right;
  background-position-y:-300px;
  z-index:-2;
}
#bg2{
  background-position: -450px 65px;
  margin-left:-200px;
  margin-top:150px;
  position:absolute;
}
#menu,aside,#bg3,#close{
  display:none;
}
/* Section 1 */
.sec{
  margin:25px 150px;
}
.sec,.sec > div{
  height:fit-content;
  padding:10px;
  box-sizing: border-box;
}
.sec >div{
  width:400px;
}
h1{
  font-size:50px;
}
/* Section2 */
h2{
  font-size:35px;
}
.p300{
  width:280px;
  margin-top:-20px;
  margin-bottom:30px;
}
#sec2div2{
  width:470px;
}
h4,span{
  height: fit-content;
  padding: 7px 0;
  box-sizing: border-box;
  border-radius: 15px;
}
#sec2div2 >div p{
  width:370px;
  padding-left:70px;
}
span{
  padding:7px 20px;
  background-color: hsl(12, 88%, 59%);
  color:white;
  font-weight: 600;
  margin-right:14px;
}
/* Section 3 */
#sec3{
  display: grid;
  place-items:center;
  height:450px;
}
#sec3 >div{
  display:flex;
  width:100%;
  padding:0;
  margin:0;
  justify-content:space-around;
}
fieldset{
  text-align: center;
  height: fit-content;
  border: 0;
  background-color: hsl(0, 0%, 98%);
  padding: 10px 30px;
  box-sizing: border-box;
}
#sec3div1 fieldset{
    width: 440px;
    margin: 0 10px;
}
#sec3div1 fieldset:last-child{
  display:none;
}
legend img{
  width:70px;
  height:70px;
}
#rbtns {
  justify-content: center;
  display: flex;
}

.rbtn {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-color: rgb(241, 100, 65);
  border-style: solid;
  border-width: 2px;
  border-radius:50%;
}

.rbtn:checked {
  background: rgb(241, 100, 65);
}

#rbtns,
#sec3div2 fieldset{
  display: none;
}

/* Section4 */
#sec4{
  width:100%;
  height:140px;
  display:flex;
  align-items:center;
  justify-content:space-around;
  background-color: rgb(241, 100, 65);
  color:white;
}
#sec4 div{
  position:absolute;
  width:100%;
  height:140px;
  background-image: url(images/bg-tablet-pattern.svg);
  background-repeat: repeat-x;
  opacity:15%;
}

/* Section 5 */
#sec5{
  background-color:hsl(228, 39%, 23%);
  display:flex;
  color:white;
  justify-content:space-between;
  padding:25px 150px;
  box-sizing: border-box;
}
#sec5 >div{
  display:flex;
  flex-direction:column;
}
#sec5 a{
  color:white;
  margin:3px;
}
#sec5 input{
  width:210px;
  padding:0 10px;
  border-radius: 25px;
  height:50px;
  border:0;
  box-sizing: border-box;
}
.sbtn{
  padding:5px;
  height:50px;
  width:75px;
  border-radius:20px;
}
#sec5 div:first-child {
  justify-content: space-between;
}
#sec5 section{
  display:flex;
  justify-content:space-between;
  width:300px;
}
#sec5 section div{
  display:flex;
  flex-direction:column;
}
#crt{
  text-align:right;
  margin-top:-50px;
  margin-right:150px;
}
@media(max-width:1350px){
  #sec3div1 fieldset{
    width:350px;
  }
  #graphs{
    width:400px;
  }
  .sec,header{
    margin:auto 75px;
  }

}
@media(max-width:1150px){
  #sec3div1 fieldset{
    width:275px;
    height:fit-content;
  }
  #sec5{
    padding-left: 75px;
    padding-right:75px;
  }
  #crt{
    margin-right:75px;
  }
}
@media(max-width:1025px){
  h1{
    font-size:40px;
  }
  h2{
    font-size:25px;
  }
  #div1{
    width:500px;
  }
  .sec,header{
    margin:auto 25px;
  }
  #sec4,#sec4 div{
    height:100px;
  }
  #sec4 div{
    background-size:500px;
  }
}
@media(max-width:920px){
  #sec2div2{
    width:375px;
  }
  #sec2div2 >div p{
    width:280px;
  }
  #sec3div2 fieldset{
    display:grid;
    width:440px;
  }
  #rbtns{
    display:flex;
  }
  #sec3div1,#sec3div1 fieldset{
    display:none;
  }
  #sec5{
    padding-left: 25px;
    padding-right: 25px;
  }
  #crt{
    margin-right:25px;
  }
  #sec5 input{
    height:40px;
    width:170px;
  }
  .sbtn{
    height: 40px;
    width:60px;
  }
  #crt{
    font-size:12px;
  }
}
@media(max-width:850px){
  #sec2{
    flex-direction:column;
    align-items:center;
  }
  #sec2 div p{
    text-align:left;
    width:fit-content;
    padding:0;
  }
  #sec2 >div>p{
    text-align:center;
  }
  h4{
    background-color:hsl(13, 100%, 96%);
  }
  #sec2 >div{
    display:grid;
    place-items:center;
  }
  #sec2div2,#sec2div2 p{
    width:450px;
  }
  #bg2{
    background:transparent;
  }
    h4 {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  #sec5 section{
    width:230px;
  }
  #sec5 input{
    width:120px;
    height:35px;
    font-size:11px;
  }
  .sbtn{
    height:35px;
    width:50px;
  }
}
@media(max-width:735px){
  .sec:first-child{
    flex-direction:column-reverse;
    align-items:center;
  }
  header div a{
    margin:0 5px;
  }
  #bg1{
    background-size:550px;
    background-position:150px -150px;
  }
  #bg3{
    display:block;
    background-size: 400px;
    height:500px;
    width:250px;
    background-position: 120px -80px;
  }
  #sec5{
    padding-left: 15px;
    padding-right: 15px;
  }
  #crt{
    margin-right:15px;
  }
  header{
    margin:0 10px;
  }
  #div1 {
    text-align: center;
  }

  .p300 {
    width: fit-content;
  }
}
@media(max-width:640px){
  h2{
    font-size:35px;
  }
  header div,header button{
    display:none;
  }
  header{
    margin:0 20px;
  }
  #menu{
    display:block;
  }
  #menu,#close{
    z-index:20;
  }
  aside{
    position:absolute;
    margin-top:-100px;
    justify-content:center;
    width: 100%;
    height:700px;
    background:rgba(158, 155, 155, 0.6);
  }
  aside img{
    width:30px;
    height:30px;
    
  }
  aside div{
    display: flex;
    margin-top:120px;
    width:320px;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    padding:40px 0;
    box-sizing: border-box;
    font-weight:bold; 
    height:283px;
    background:white;
    border-radius:7px;
  }
  a{
    color:black;
  }
  #sec2 >div:nth-child(2){
    text-align:center;
  }
  #bg3{
    background-position-x: 200px;
  }
  #bg1{
    width:375px;
    background-size:480px;
    background-position: 60px -120px;
  }
  #sec5{
    flex-direction:column-reverse;
    align-items:center;
    justify-content:space-around;
    height:400px;
  }
  #sec5 input{
    width:250px;
    font-size:15px;
  }
  #sec5 >div:first-child{
    flex-direction:column-reverse;
    width:300px;
    align-items:center;
    height:75px;
  }
  #sec5>div >div{
    display:flex;
    justify-content:space-between;
    width:300px;
  }
  #sec5 >div >div img{
    width:30px;
    height:30px;
  }
  #crt{
    text-align:center;
    margin-right:0;
    margin-top:-30px;
  }
  #sec4{
    flex-direction:column;
    height:350px;
    text-align:center;
    justify-content:space-around;
    padding:60px 0;
    box-sizing: border-box;
  }
  #sec4 div{
    height:350px;
    background-size:580px;
    /* background-position-x:-200px; */
    background-repeat:no-repeat;
    background-position:-490px 20px;
  }
  #sec2div2, #sec2div2>div,#sec2div2 p,#div1,#graphs,#sec2 div{
    width:350px;
  }
  #sec2 h2{
    width:340px;
  }
  #sec2 div{
    padding:0;
  }
  #sec2 h2 ~p{
    width:325px;
  }
  #sec2div2{
    padding:0;
  }
  #sec3div2 fieldset{
    width:325px;
  }
  .sec{
    margin:0;
  }
  #sec3{
    margin:0;
  }
  #sec4 h2{
    font-size:40px;
    margin:0;
    width:300px;
  }
}